# Ignore everything
*

# Whitelist directories
!*/
# Whitelist git config
!.gitignore
# Whitelist toolchain configuration files
# ...
# Whitelist allowed extensions
# > Code
!*.hpp
# > Scripts
!*.js
!*.css
# > Docs
!*.md
!*.svg
# > Data
# ...
# > Website
!*.yml

# Ignore build & temporary directories regardless of their contents
.vscode/
snippets/